.skillsContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgba(140, 140, 140, 0.25) !important;
}

.skillsContainer .skillsShowCaseCircle {
    height: 70vmin;
    width: 70vmin;
    overflow: hidden;
    background: rgba(20, 20, 20, 0.4);
    box-shadow: 2px 2px 6px black;
}

.skillsContainer .skillsShowCaseCircle .halfCaseCircle {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.halfCaseCircle div {
    cursor: pointer;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
}

.halfCaseCircle div:hover {
    background: rgba(0, 0, 0, 1);
}

.halfCaseCircle a {
    height: 10%;
    width: 40%;
    color: white;
    text-align: center;
}