#circles-header {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
    top: 5%;
}

.first-skill {
    border-bottom: 25px solid rgba(200, 200, 200, 0.1);
    border-right: 25px solid rgba(200, 200, 200, 0.1);
    transition: border-bottom 0.5s, border-right 0.5s;
    padding-left: 25px;
    padding-top: 25px;
}

.first-skill:hover {
    border-bottom: 2.5px solid rgba(200, 200, 200, 0.1);
    border-right: 2.5px solid rgba(200, 200, 200, 0.1);
}

.second-skill {
    border-bottom: 25px solid rgba(255, 255, 255, 0.1);
    border-left: 25px solid rgba(255, 255, 255, 0.1);
    transition: border-bottom 0.5s, border-left 0.5s;
    padding-right: 25px;
    padding-top: 25px;
}

.second-skill:hover {
    border-bottom: 2.5px solid rgba(200, 200, 200, 0.1);
    border-left: 2.5px solid rgba(200, 200, 200, 0.1);
}

.third-skill {
    border-top: 25px solid rgba(255, 255, 255, 0.1);
    border-right: 25px solid rgba(255, 255, 255, 0.1);
    transition: border-top 0.5s, border-right 0.5s;
    padding-left: 25px;
    padding-bottom: 25px;
}

.third-skill:hover {
    border-top: 2.5px solid rgba(200, 200, 200, 0.1);
    border-right: 2.5px solid rgba(200, 200, 200, 0.1);
}

.fourth-skill {
    border-top: 25px solid rgba(200, 200, 200, 0.1);
    border-left: 25px solid rgba(200, 200, 200, 0.1);
    transition: border-top 0.5s, border-left 0.5s;
    padding-right: 25px;
    padding-bottom: 25px;
}

.fourth-skill:hover {
    border-top: 2.5px solid rgba(200, 200, 200, 0.1);
    border-left: 2.5px solid rgba(200, 200, 200, 0.1);
} 

.fifth-skill {
    border-bottom: 25px solid rgba(200, 200, 200, 0.1);
    border-right: 25px solid rgba(200, 200, 200, 0.1);
    transition: border-bottom 0.5s, border-right 0.5s;
    padding-left: 25px;
    padding-top: 25px;
}

.fifth-skill:hover {
    border-bottom: 2.5px solid rgba(200, 200, 200, 0.1);
    border-right: 2.5px solid rgba(200, 200, 200, 0.1);
}

.sixth-skill {
    border-bottom: 25px solid rgba(255, 255, 255, 0.1);
    border-left: 25px solid rgba(255, 255, 255, 0.1);
    transition: border-bottom 0.5s, border-left 0.5s;
    padding-right: 25px;
    padding-top: 25px;
}

.sixth-skill:hover {
    border-bottom: 2.5px solid rgba(200, 200, 200, 0.1);
    border-left: 2.5px solid rgba(200, 200, 200, 0.1);
}

.seventh-skill {
    border-top: 25px solid rgba(255, 255, 255, 0.1);
    border-right: 25px solid rgba(255, 255, 255, 0.1);
    transition: border-top 0.5s, border-right 0.5s;
    padding-left: 25px;
    padding-bottom: 25px;
}

.seventh-skill:hover {
    border-top: 2.5px solid rgba(200, 200, 200, 0.1);
    border-right: 2.5px solid rgba(200, 200, 200, 0.1);
}

.eight-skill {
    border-top: 25px solid rgba(200, 200, 200, 0.1);
    border-left: 25px solid rgba(200, 200, 200, 0.1);
    transition: border-top 0.5s, border-left 0.5s;
    padding-right: 25px;
    padding-bottom: 25px;
}

.eight-skill:hover {
    border-top: 2.5px solid rgba(200, 200, 200, 0.1);
    border-left: 2.5px solid rgba(200, 200, 200, 0.1);
} 

@media only screen and (max-width: 1000px) {
    #circle-container {
        flex-direction: column;
    }

    #circle-container div {
        height: 50vmin;
        width: 50vmin;
    }

    #circle-container div div {
        height: 25vmin;
        width: 50vmin;
    }

    #circle-container div div div:hover {
        background: rgba(0, 0, 0, 0.25);
    }
}

@media only screen and (max-width: 600px) {
    #circles-header {
        display: none;
    }

    #circle-container div {
        height: 50vh;
        width: 100vw;
    }

    #circle-container div div {
        height: 25vh;
        width: 100vw;
    }

    .first-skill, .second-skill, .third-skill,
    .fourth-skill, .fifth-skill, .sixth-skill,
    .seventh-skill, .eight-skill {
        border:rgba(200, 200, 200, 0.1);
        border: 1px solid rgba(200, 200, 200, 0.25);
    }

    .first-skill:hover, .second-skill:hover, .third-skill:hover,
    .fourth-skill:hover, .fifth-skill:hover, .sixth-skill:hover,
    .seventh-skill:hover, .eight-skill:hover {
        border: 2.5px solid rgba(200, 200, 200, 0.1);
    }
}

@media only screen and (min-height: 200px) and (max-height: 650px) and (min-width: 400px) and (max-width: 1100px) {
    #circle-container {
        display: none;
    }
}