#react-website-container {
    background-image: url('../Images/Projects/reactSite.png');
    background-size: 100% 100%;
}

#dotnet-website-container {
    background-image: url('../Images/Projects/dotNetSite.png');
    background-size: 100% 100%;
}

#chat-app-container {
    background-image: url('../Images/Projects/chatApp.png');
    background-size: 100% 100%;
}

#ukraine-website-container {
    background-image: url('../Images/Projects/ukraineSite.png');
    background-size: 100% 100%;
}

@media only screen and (max-width: 1000px) {
    #my-work-container {
        display: none;
    }
}