.mainContainer {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-image: url('../Images/html.jpg');
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.mainContainer div {
    background: rgba(0, 0, 0, .75);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    transition: background 1s;
}

.mainContainer div:hover {
    background: rgba(0, 0, 0, 1);
}

.mainContainer div h3 {
    padding: 15px;
}