.partContainer {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partContainer div {
    position: relative;
    height: 100%;
    width: calc(100%/3);
}

.headerContainer {
    position: absolute;
    height: 40%;
    top: 30%;
    width: 50%;
    left: 25%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 6px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    transition: background 1s;
}

.headerContainer:hover {
    background: rgba(0, 0, 0, 1);
}

.headerContainer h1 {
    text-align: center;
}

.headerContainer h3 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.sideContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideContainer h3 {
    cursor: pointer;
}

.sideContainer h3:hover {
    text-shadow: 1px 1px 4px white;
}
